#!/bin/bash

# Install dependencies
# Add Docker's official GPG key:
sudo apt update
sudo apt install ca-certificates curl
sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc

# Add the repository to Apt sources:
sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
Types: deb
URIs: https://download.docker.com/linux/debian
Suites: $(. /etc/os-release && echo "$VERSION_CODENAME")
Components: stable
Architectures: $(dpkg --print-architecture)
Signed-By: /etc/apt/keyrings/docker.asc
EOF

sudo apt update
apt-get install -y git curl docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

# TODO check if this part is needed if the official way already install docker-compose-plugin
# Install Docker Compose v2 plugin
#mkdir -p ~/.docker/cli-plugins
#curl -SL https://github.com/docker/compose/releases/download/v2.24.2/docker-compose-linux-x86_64 \
#  -o ~/.docker/cli-plugins/docker-compose
#chmod +x ~/.docker/cli-plugins/docker-compose
#sudo mkdir -p /usr/local/lib/docker/cli-plugins
#sudo mv ~/.docker/cli-plugins/docker-compose /usr/local/lib/docker/cli-plugins/docker-compose

# Enable and start Docker
systemctl enable docker
systemctl start docker

# Clone the n8n AI starter repo
cd /opt
git clone https://github.com/sebge2/n8n-hands-on.git n8n
cd n8n/docker

# Create the .env file from Terraform template
cat <<EOT > .env
${env_file}
EOT

# Start n8n using the 'cpu' profile
docker compose --profile cpu up -d